<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="VersionCliente" value="1.0"/>
	<add key="ClientesMaximos" value="50"/>
	<add key="IpServidorInterno" value="127.0.0.1"/>
	<add key="PuertoConectorInterno" value="17039"/>
	<add key="IpServidorExterno" value="192.168.0.11"/>
	<add key="PuertoConectorExterno" value="17040"/>
  </appSettings>
</configuration>